.home-page{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  /* background: red; */

}
.into-website {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  text-align: center;
 margin: auto;

  
}

.home-page .into-website  h1 {
  text-transform: capitalize;
  color: white;

  font-weight: bold;
  height: 100px;
  
}
.home-page .into-website h1 span{
  color: goldenrod;
  font-size: 50px;
}

.home-page .into-website p{
  color: rgb(208, 208, 208);
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.home-page .into-website button{
  padding: 10px;
   background-image: linear-gradient(45deg, #ff8d03f0 , #ff8d03f0);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* display the products section  */

.display-produtcs{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;

}
.display-produtcs .prodcut-card{
  width: 300px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.094);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.display-produtcs .prodcut-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.display-produtcs .prodcut-card .card-img{
  width: 100%;
  height: auto;
  overflow: hidden;
  
}
.display-produtcs .prodcut-card .card-img img{
  width: 100%;
  margin: auto;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.display-produtcs .prodcut-card h2{
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}

.display-produtcs .prodcut-card .pro-info{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 255, 255, 0.16);
padding: 5px;
border-radius: 4px;
margin: 5px 0;
}
.display-produtcs .prodcut-card .pro-info span{
  color: rgba(208, 208, 208, 0.888);
  font-size: 12px;
  text-transform: capitalize;
}
.display-produtcs .prodcut-card  p{
  color: rgb(191, 191, 191);
  font-size: 14px;
  text-transform: capitalize;
  
}
.display-produtcs .prodcut-card a{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;
  width: 100%;
  
  color:#ffffff;
  font-size: 20px;
  border: none;
  background-color:#1074f7 ;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
}


.display-produtcs .prodcut-card a p{
  color: white;
  font-size: 14px;
  text-transform: capitalize;

}
.display-produtcs .prodcut-card a svg{
  width: 20px;
}

/* media query section  */

@media screen and (max-width: 900px){
    .into-website {
      width: 80%;
      margin-top: 50px;
    }
    
    .home-page .into-website h1 span{
      font-size: 30px;
    }
    .home-page .into-website p{
      font-size: 14px;
    }
    .home-page .into-website button{
      font-size: 14px;
    }
    .webstite-info{
      height: 150px;
    }
    .display-produtcs .prodcut-card{
      width: 250px;
    }
    .display-produtcs .prodcut-card h2{
      font-size: 16px;
    }
    .display-produtcs .prodcut-card .pro-info span{
      font-size: 10px;
    }
    .display-produtcs .prodcut-card  p{
      font-size: 12px;
    }
    .display-produtcs .prodcut-card a p{
      font-size: 14px;
    }
}
  @media screen and (max-width: 768px){

  
    .home-page {
      margin-top: 25px;
        width: 100%;
        padding: 5px;
    }
    
    
    .home-page .into-website h1 span{
      font-size: 25px;
    }
    .home-page .into-website p{
      margin-top: 20px;
      font-size: 14px;
    }
    
    .home-page .into-website button{
      font-size: 12px;
    }
    .display-produtcs{
      width: 100%;
      gap: 3px;
    }
    .display-produtcs .prodcut-card{
      width: 45%;
      padding: 2px;
    }
    .display-produtcs .prodcut-card h2{
      font-size: 12px;
    }
    .display-produtcs .prodcut-card .pro-info span{
      font-size: 8px;
      font-weight: bold;
    }
    .display-produtcs .prodcut-card  p{
      font-size: 12px;
    }
    .display-produtcs .prodcut-card a {
      font-size: 10px;
    }
    .display-produtcs .prodcut-card a svg{
      width: 20px;
    }
  }
